# ==========================================
# Databases
# ==========================================
*.db
*.sqlite3
*.mdb
*.ldf
*.mdf

__pycache__/
*.pyc

# ==========================================
# Virtual Environments (Python)
# ==========================================
venv/
.venv/
env/
.env_env/
ENV/
pyvenv.cfg

# ==========================================
# Environment Variables & Secrets
# ==========================================
.env
.env.local
.env.*.local
*.env
.secrets
